In [54]:
import pandas as pd
import random

In [5]:
df = pd.read_html('https://en.wikipedia.org/wiki/Economy_of_the_United_States', match='Nominal GDP')
df_GDP = df[0]
df_GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 9 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Year                                              41 non-null     object
 1   Nominal GDP(billions USD)                         41 non-null     float64
 2   GDP per capita(USD)                               41 non-null     int64
 3   GDP growth(real)                                  41 non-null     object
 4   Inflation rate(in %)                              41 non-null     object
 5   Unemployment(in %)                                41 non-null     object
 6   Budget balance(in % of GDP)[106]                  41 non-null     object
 7   Government debt held by public(in % of GDP)[107]  41 non-null     object
 8   Current accountbalance(in % of GDP)               41 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.0+ KB

In [31]:
selected = df_GDP['GDP per capita(USD)']
print(selected)

0     57589
1     64674
2     62869
3     60000
4     57878
5     56770
6     54993
7     52737
8     51404
9     49736
10    48311
11    46909
12    48302
13    47955
14    46352
15    44218
16    41838
17    39592
18    38114
19    37241
20    36433
21    34602
22    32929
23    31554
24    30047
25    28763
26    27756
27    26442
28    25467
29    24366
30    23914
31    22879
32    21442
33    20063
34    19078
35    18232
36    17099
37    15531
38    14410
39    13966
40    12575
Name: GDP per capita(USD), dtype: int64

In [32]:
print('Total:', selected.count())

41

In [33]:
print('Suma:', selected.sum())

1505030

In [34]:
print('Media:', selected.mean())

36708.04878048781

In [79]:
sorted = selected.sort_values()
p = 5
acum = 0
for i in range(p, len(sorted) - p):
    acum = acum + sorted[i]
shortMean = acum / (len(sorted) - (2 * p))
print('Media recortada: ', shortMean)

Media recortada:  36401.25806451613

In [57]:
weights = [random.random() for i in range(len(selected))]
print(weights)

[0.8697993536124035, 0.9000928569097915, 0.28524121229511357, 0.13064241232007268, 0.9321259563159567, 0.4025604568730521, 0.0001264709765043115, 0.8711069179958495, 0.2942075254441954, 0.08731426943202691, 0.24541737126823082, 0.5904867385342881, 0.5614191850356057, 0.22441364786823503, 0.6810871313659449, 0.5405204295333413, 0.5975007368160106, 0.8275334330146116, 0.5962194366406485, 0.3576029171802745, 0.9322207643711731, 0.306184904893113, 0.30814882066786475, 0.879682281761816, 0.21970922048393926, 0.12178569321320298, 0.008798537422643471, 0.6873515820629563, 0.8155874182407646, 0.4681395761964102, 0.7314291454896333, 0.6500477517986719, 0.6963490899794472, 0.43527536630276775, 0.08345270995711151, 0.733944473508285, 0.5993695795358533, 0.47681991210544483, 0.49734212367454755, 0.5626621007852285, 0.9918694388928619]

In [58]:
val = 0
w = 0
for i in range(len(selected)):
    val = val + (weights[i] * selected[i])
    w = w + weights[i]
weightedMean = val / w
print("Media ponderada:", weightedMean)

Media ponderada: 35955.61784202343

In [59]:
print('Mediana:', selected.median())

Mediana: 36433.0

In [60]:
print('Desvación estándar:', selected.std())

Desvación estándar: 15429.367415664226

In [61]:
print('Varianza:', selected.var())

Varianza: 238065378.84756097

In [63]:
selected.quantile([0.25,0.50, 0.75])

0.25    23914.0
0.50    36433.0
0.75    48311.0
Name: GDP per capita(USD), dtype: float64

In [66]:
df = pd.read_csv('dataset/nba.csv')
df[:10]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [67]:
df.corr(method='pearson')

          Number       Age    Weight    Salary
Number  1.000000  0.028724  0.206921 -0.112386
Age     0.028724  1.000000  0.087183  0.213459
Weight  0.206921  0.087183  1.000000  0.138321
Salary -0.112386  0.213459  0.138321  1.000000

In [77]:
df = pd.DataFrame({"A":[5, 3, None, 4],
                   "B":[None, 2, 4, 3],
                   "C":[4, 3, 8, 5], 
                   "D":[5, 4, 2, None]})

In [78]:
df.cov()

     A    B         C         D
A  1.0  0.5  0.500000  1.000000
B  0.5  1.0  2.500000 -2.000000
C  0.5  2.5  4.666667 -3.500000
D  1.0 -2.0 -3.500000  2.333333