In [2]:
import pandas as pd
import random

In [3]:
df = pd.read_csv('../datasets/comprar_alquilar.csv')
df

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
0,6000,1000,0,600,50000,400000,0,2,2,1
1,6745,944,123,429,43240,636897,1,3,6,0
2,6455,1033,98,795,57463,321779,2,1,8,1
3,7098,1278,15,254,54506,660933,0,0,3,0
4,6167,863,223,520,41512,348932,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...
197,3831,690,352,488,10723,363120,0,0,2,0
198,3961,1030,270,475,21880,280421,2,3,8,0
199,3184,955,276,684,35565,388025,1,3,8,0
200,3334,867,369,652,19985,376892,1,2,5,0
201,3988,1157,105,382,11980,257580,0,0,4,0

# 1. Revisando si existen valores faltantes

In [4]:
len(df)

202

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ingresos        202 non-null    int64
 1   gastos_comunes  202 non-null    int64
 2   pago_coche      202 non-null    int64
 3   gastos_otros    202 non-null    int64
 4   ahorros         202 non-null    int64
 5   vivienda        202 non-null    int64
 6   estado_civil    202 non-null    int64
 7   hijos           202 non-null    int64
 8   trabajo         202 non-null    int64
 9   comprar         202 non-null    int64
dtypes: int64(10)
memory usage: 15.9 KB

In [6]:
df.count()

ingresos          202
gastos_comunes    202
pago_coche        202
gastos_otros      202
ahorros           202
vivienda          202
estado_civil      202
hijos             202
trabajo           202
comprar           202
dtype: int64

In [7]:
print ('Total: ', df['ingresos'].sum())

Total:  1001717

# 2. Filtros

In [8]:
mas_de_40 = df[df['ingresos'] > 4000]
mas_de_40

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
0,6000,1000,0,600,50000,400000,0,2,2,1
1,6745,944,123,429,43240,636897,1,3,6,0
2,6455,1033,98,795,57463,321779,2,1,8,1
3,7098,1278,15,254,54506,660933,0,0,3,0
4,6167,863,223,520,41512,348932,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...
185,4025,1369,32,493,38752,225841,1,4,5,1
188,4708,1459,84,567,32314,379520,0,0,0,0
192,4653,1024,447,703,16952,392957,0,0,3,0
195,4169,1292,48,333,28503,239872,2,1,7,1
196,4054,1095,371,440,22183,223971,1,0,3,0

In [12]:
doble_filtro = df[(df['ingresos'] > 4000)  & (df['vivienda'] < 400000)]
doble_filtro

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
2,6455,1033,98,795,57463,321779,2,1,8,1
4,6167,863,223,520,41512,348932,0,0,3,1
5,5692,911,11,325,50875,360863,1,4,5,1
8,6251,1250,209,571,50503,291010,0,0,3,1
9,6987,1258,252,245,40611,324098,2,1,7,1
...,...,...,...,...,...,...,...,...,...,...
185,4025,1369,32,493,38752,225841,1,4,5,1
188,4708,1459,84,567,32314,379520,0,0,0,0
192,4653,1024,447,703,16952,392957,0,0,3,0
195,4169,1292,48,333,28503,239872,2,1,7,1
196,4054,1095,371,440,22183,223971,1,0,3,0

# 2. Medidas de tendencia central

A primera vista, resumir los datos puede parecer bastante fÃ¡cil: calculamos la media de los datos y listo. De hecho, si bien la media es fÃ¡cil de calcular y conveniente de usar, es posible que no siempre sea la mejor medida para un valor central. Por esta razÃ³n, los estadÃ­sticos han desarrollado varias estimaciones alternativas a la media.

# Media

La estimaciÃ³n mÃ¡s bÃ¡sica de cÃ³mo estÃ¡n conformados los datos es el valor medio, media o promedio. La media es la suma de todos los valores dividida por el nÃºmero de valores. Considera el siguiente conjunto de nÃºmeros: [3, 3, 1, 2]. La media es (3 + 5 + 1 + 2) / 4 = 11 / 4 = 2.75. El sÃ­mbolo  $\bar{x}$ representa la media de la muestra de una poblaciÃ³n (se pronuncia x-bar). La fÃ³rmula para calcula la media de una conjunto de N valores ($x_1$,$x_2$,...,$x_N$) es:

Media = $\bar{x}$ = $\frac{\sum_{i=1}^{N}x_i}{N}$

In [8]:
print('Media: ', df['ingresos'].mean())

Media:  4958.995049504951

## Media recortada

Una variaciÃ³n de la media es la media recortada, la cual es calculada despuÃ©s de eliminar los extremos de un conjunto de valores ordenados y luego calculamos el promedio de los valores restantes. De un conjunto de valores ordenados ($x_1$, $x_2$,...,$x_N$) donde $x_1$ es el valor mÃ¡s pequeÃ±o y $x_N$ es el valor mÃ¡s grande, la fÃ³rmula para calcular la media recortada con los p valores mÃ¡s pequeÃ±os y mÃ¡s grandes omitidos es:

Media recortada = $\bar{x}$ = $\frac{\sum_{i=p + 1}^{N - p}x_i}{N - 2p}$

La media recortada elimina la influencia de valores extremos. Por ejemplo, la puntuaciÃ³n de los concursos internacionales de clavados se obtiene eliminando la puntuaciÃ³n mÃ¡xima y mÃ­nima de los jueces y calculando el promedio de las puntuaciones restantes. Esto imposibilita que un solo juez manipule la puntuaciÃ³n, quizÃ¡s para favorecer al competidor de su paÃ­s. Las medias recortadas se utilizan ampliamente y, en muchos casos, es preferible utilizarlas en lugar de la media ordinaria.

In [9]:
sorted = df['ingresos'].sort_values()
sorted

190    2008
180    2022
160    2024
179    2028
173    2028
       ...
142    7777
22     7831
138    7877
28     7939
37     7984
Name: ingresos, Length: 202, dtype: int64

In [10]:
sorted = sorted.reset_index(drop = True)
sorted

0      2008
1      2022
2      2024
3      2028
4      2028
       ...
197    7777
198    7831
199    7877
200    7939
201    7984
Name: ingresos, Length: 202, dtype: int64

In [11]:
p = 5
acum = 0
for i in range(p, len(sorted) - p):
    acum += sorted[i]
croppedMean =  acum / (len(sorted) - (2 * p))
print('Media recortada: ', croppedMean)

Media recortada:  4959.369791666667

In [12]:
p = 5
acum = sum(sorted.values.flatten()[p:len(df['ingresos'])-p])
croppedMean = acum / (len(sorted) - (2 * p))
print('Media recortada: ', croppedMean)

Media recortada:  4959.369791666667

## Media ponderada

Otro tipo de media es la media ponderada, que se calcula multiplicando cada valor $x_i$ por un peso $w_i$ y dividiendo la suma por la suma de los pesos. La fÃ³rmula para una media ponderada es:

Media ponderada = $\bar{x_{w}}$ = $\frac{\sum_{i=1}^{N}w_{i}x_{i}}{\sum_{i=1}^{N}w_{i}}$

Hay dos razones principales para usar una media ponderada:
* Algunos valores son intrÃ­nsecamente mÃ¡s variables que otro, y las observaciones muy variables reciben un peso menor. Por ejemplo, si tomamos el promedio de varios sensores y uno de los sensores es menos preciso, entonces podrÃ­amos reducir el peso de ese sensor.
*  Los datos recopiladores no representan igualmente a los diferentes grupos que nos interesa medir. Por ejemplo, debido a la forma en que se realizÃ³ un experimente en lÃ­nea, es posible que no tengamos un conjunto de datos que refleje con precisiÃ³n todos los grupos de usuarios. Para corregir eso, podemos dar un mayor peso a los valores de los grupos que estaban subrepresentados.

In [13]:
weights = [random.random() for i in range(len(df['ingresos']))]
print(weights)

[0.46077585324306014, 0.5444829870385103, 0.6423970058599786, 0.3251458500764659, 0.753880615656719, 0.04136986401565579, 0.9328248289354614, 0.4860535420486586, 0.9292149554375247, 0.8620911882568888, 0.36498977936784827, 0.44822840238149675, 0.5028640100065972, 0.4450561668291524, 0.15222821975499534, 0.49766035863967595, 0.5950141630145664, 0.37515508229064753, 0.03849003907457882, 0.7893712968366696, 0.9462592285874004, 0.6472477000981837, 0.2523767944245757, 0.11209183660156574, 0.776730711414651, 0.9655001027374004, 0.19531621313856606, 0.25283158887861157, 0.9752622270554874, 0.9762964070741007, 0.608522824986233, 0.08387922781646628, 0.0074490787529525315, 0.19462156259862573, 0.8570481264609755, 0.09260242367947136, 0.8056277988448114, 0.5444145545640922, 0.06535092854989089, 0.14508772158278593, 0.5053475525325332, 0.8921787529386309, 0.5911429826604959, 0.9232646833075193, 0.4487095035969618, 0.38063698060620876, 0.3795459576107082, 0.6076338985093782, 0.16733670331454897, 0.1386176852221369, 0.7470323555542103, 0.4264546568650789, 0.40308161564043077, 0.23621969504192897, 0.27047114898512403, 0.40471114264273045, 0.27710941599797156, 0.910260714518887, 0.24808146509072904, 0.18371721224062243, 0.7828230605265015, 0.7201330006110118, 0.26790791269941217, 0.6856418886689453, 0.6785913086495392, 0.7875932978524177, 0.5710541783267813, 0.19504541642115503, 0.0747553311657656, 0.713712753306644, 0.33354665270999584, 0.4069174174417034, 0.12009084433154638, 0.6448123432686751, 0.8758470329933047, 0.09505997342185091, 0.27062882351694983, 0.7612873481327035, 0.7402368209602046, 0.8532805670723381, 0.027920385729862662, 0.681225636930561, 0.7839028310793658, 0.39490903228752827, 0.6731406233178017, 0.023888233795066105, 0.4015164663651326, 0.08373865555837001, 0.6213597696009323, 0.7945632156226825, 0.4396562594103569, 0.3798649055671929, 0.06185871828815881, 0.9854687819215622, 0.6959260392529123, 0.46077142733647647, 0.9089114244478473, 0.6800648372492812, 0.2499307362630836, 0.45451964960040936, 0.5713198725844847, 0.7818666158549014, 0.9924012618157921, 0.10584721323268609, 0.11161866927236774, 0.8449020996048044, 0.6684136196518632, 0.11985671470841164, 0.5253952826953846, 0.8411149511821343, 0.20345864567529837, 0.19011436063140852, 0.6526837589652835, 0.4970180494900974, 0.6049426282061265, 0.2676302995887354, 0.0241387681712667, 0.6524506145276943, 0.5346048977772159, 0.15276549457181932, 0.5023953735256449, 0.3996350777386136, 0.7095649208698975, 0.1229645632373666, 0.9600817197794227, 0.6238455503066371, 0.2789857097483158, 0.19462818323548747, 0.31164927375581086, 0.05842078258905481, 0.3806832890564801, 0.7895953313886865, 0.2610639049434218, 0.7682339108426504, 0.5657575309996392, 0.7114697491071325, 0.6163328994905007, 0.8309878574003097, 0.853368991140217, 0.3228951122481968, 0.046219025935103075, 0.26654129584625075, 0.4708305307327265, 0.38691485594718766, 0.07401816942778527, 0.499474052491806, 0.9223897206241184, 0.32596659378780213, 0.13647929293671202, 0.6340392490340471, 0.8875242071628598, 0.021330744608396457, 0.9082926255585692, 0.646241968168455, 0.9834126801450778, 0.24486588489358574, 0.90819345903801, 0.8884618687553045, 0.12974091642163155, 0.25138850569234406, 0.8520047919924194, 0.4682630893979183, 0.07358617810183488, 0.3177147158185545, 0.11423789049409816, 0.5102552185333947, 0.7195470266497067, 0.2205366921984091, 0.3370786142698661, 0.7617348800352578, 0.6429870406134595, 0.11763810344535497, 0.8779408782014197, 0.021368910340546332, 0.8839202803660332, 0.5864936550175793, 0.5492408797358711, 0.907846925387956, 0.31582193363936517, 0.015759542276856275, 0.37383739536044047, 0.7345711450977226, 0.7761579785031818, 0.8000865552422466, 0.9207957519628629, 0.9690347107762837, 0.5630302227551695, 0.5450610512016141, 0.7866262770364738, 0.7618699660589451, 0.49728926322961775, 0.5430615590826362, 0.9381705956991618, 0.8644170264313699, 0.7293454950926936, 0.48069308518134257, 0.7970909284090614, 0.7153142966021069, 0.9699801024663371, 0.24065182225554238, 0.3935308738872353, 0.5344241545676359]

In [14]:
accWeightedValues = df['ingresos'].values.flatten().dot(weights)
weightedMean = accWeightedValues / sum(weights)
print('Media ponderada: ', weightedMean)

Media ponderada:  4969.407507055162

## Moda

La moda es el valor con mayor frecuencia en la distribuciÃ³n de datos. Si tomamos como ejemplo una muestra compuesta de los siguientes 5 nÃºmeros: 3, 8, 2, 8, 1; el valor modal es 8, ya que se es el que se repite la mayor cantidad de veces. La moda sirve para definir lo mÃ¡s comÃºn, lo que mÃ¡s se usa o lo que es mÃ¡s frecuente, en tÃ©rminos matemÃ¡ticos, el valor de mayor frecuencia absoluta.

In [15]:
moda = pd.Series(df['ingresos'].values.flatten()).mode()[0]
print('Moda: ', moda)

Moda:  2028

## Mediana

La mediana es el nÃºmero del medio de una lista de datos ordenada. Si hay un nÃºmero par de valores de datos, el valor medio es uno que no estÃ¡ realmente en el conjunto de datos, sino que es el promedio de los dos valores que dividen los datos ordenados en dos mitades. En comparaciÃ³n con la media, que usa todas las observaciones, la mediana solo depende de los valores en el centro de los datos ordenados. Si bien, esto puede parecer una desventaja, dado que la media es mucho mÃ¡s sensible a los datos, hay muchos casos en los que la mediana es una mejor mÃ©trica para la ubicaciÃ³n. Supongamos que queremos analizar los ingresos familiares tÃ­picos en los vecindarios de una zona. Al comparar un vecindario de ingresos altos con un vecindario de ingresos bajos, usar la media producirÃ¡ resultados muy diferentes. Si usamos la mediana, no importa cuÃ¡n rico sean los que vivan en un vecindario; la posiciÃ³n de la observaciÃ³n intermedia seguirÃ¡ siendo la misma.

In [16]:
print('Mediana:', df['ingresos'].median())

Mediana: 4947.5

Por las mismas razones por las que usamos una media ponderada, tambiÃ©n es posible calcular una mediana ponderada. Al igual que con la mediana, primero ordenamos los datos, aunque cada valor de datos tiene un peso asociado. En lugar de tomar el nÃºmero del medio, la mediana pondera es el valor tal que la suma de los pesos es igual para ambas mitades de la lista ordenada. Como la mediana, la mediana ponderada es robusta a los valores atÃ­picos (outliners).

### Valores atÃ­picos

La mediana no es la Ãºnica estimaciÃ³n sÃ³lida de la ubicaciÃ³n. De hecho, una media recortada se usa ampliamente para evitar la influencia de valores atÃ­picos. Por ejemplo, recortar el 10% inferior y superior (una estrategia muy usada) de los datos proporcionarÃ¡ protecciÃ³n contra valores atÃ­picos en todos los conjuntos de datos, excepto en los mÃ¡s pequeÃ±os. Se puede pensar en la media recortada como un compromiso entre la media y la mediana: es robusta a los valores extremos en los datos, pero utiliza mÃ¡s datos para calcular la estimaciÃ³n de la ubicaciÃ³n.

# DesviaciÃ³n estÃ¡ndar

La ubicaciÃ³n es solo una dimensiÃ³n para resumir una caracterÃ­stica. Una segunda dimensiÃ³n, la variabilidad, tambiÃ©n conocida como dispersiÃ³n, mide que tan agrupados o dispersos estÃ¡n los datos. La variabilidad es un concepto muy importante a tener en cuenta: hay que medirla, reducirla, distinguir en la variabilidad aleatoria y la real, identificar las diversas fuentes de variabilidad real y tomar decisiones sobre ella. Asi como existen diferentes formas de medir la ubicaciÃ³n (media, mediana, etc.) tambiÃ©n existen diferente formas de medir la variabilidad.

Las estimaciones de variaciÃ³n mÃ¡s utilizadas se basan en las diferencia entre la media (una estimaciÃ³n de ubicaciÃ³n) y los datos observados. Para un conjunto de datos, [1, 4, 4], la media es 3 y la mediana es 4. Las desviaciones de la media son las diferencias (1 - 3 = -2, 4 - 3 = 1, 4 - 3 = 1). Estas desviaciones nos dicen quÃ© tan dispersos estÃ¡n los datos alrededor del valor central.

Las estimaciones de variabilidad mÃ¡s conocidas son la varianza y la desviaciÃ³n estÃ¡ndar, que se basan en desviaciones cuadradas. La varianza es un promedio de las desviaciones cuadradas y la desviaciÃ³n estÃ¡ndar es la raÃ­z cuadrada de la varianza.

Varianza = $s^{2}$ = $\frac{\sum_{i=1}^{N}(x_{i} - \bar{x})^{2} }{N - 1}$

DesviaciÃ³n estÃ¡ndar = $\sqrt{Varianza}$

In [17]:
print('Varianza: ', df['ingresos'].var())

Varianza:  2832026.3830599478

In [18]:
print('DesviaciÃ³n estÃ¡ndar: ', df['ingresos'].std())

DesviaciÃ³n estÃ¡ndar:  1682.862556199985

## DesviaciÃ³n absoluta mediana

Promediar las desviaciones en sÃ­ no nos dirÃ­a mucho: las desviaciones negativas compensan las positivas. De hecho, la suma de las desviaciones de la media es exactamente cero. En cambio, un enfoque simple es tomar el promedio de los valores absolutos de las desviaciones de la media. En el ejemplo anterior, el valor absoluto de las desviaciones es [2, 1, 1] y su promedio es (2 + 1+ 1) / 3 = 1.33. Esta se conoce como la desviaciÃ³n absoluta media y se calcula mediante la fÃ³rmula:

DesviaciÃ³n absoluta mediana = $Mediana(\left | x_{1} - m \right |, \left | x_{2} - m \right |, ..., \left | x_{N} - m \right |)$

La desviaciÃ³n estÃ¡ndar es mucho mÃ¡s fÃ¡cil de interpretar que la varianza, ya que estÃ¡ en la misma escala que los datos originales. Aun asÃ­, con su fÃ³rmula mÃ¡s complicada y menos intuitiva, puede parecer extraÃ±o que en las estadÃ­sticas se prefiera la desviaciÃ³n estÃ¡ndar a la desviaciÃ³n media absoluta. Su preferencia se debe a que, matemÃ¡ticamente, trabajar con valores cuadrados es mucho mÃ¡s conveniente que con valores absolutos, especialmente para modelos estadÃ­sticos.

In [19]:
dam = pd.Series(df['ingresos'].values.flatten()).mad()
print('DesviaciÃ³n absoluta media: ', dam)

DesviaciÃ³n absoluta media:  1456.4999509851975

## Estimaciones basadas en percentiles

Un enfoque diferente que se puede emplear para estimar la dispersiÃ³n se basa en observar la separaciÃ³n de los datos clasificados. Las estadÃ­sticas basadas en datos ordenados, o clasificados, se denominan estadÃ­sticas de orden. La medida mÃ¡s bÃ¡sica es el rango: la diferencia entre el nÃºmero mÃ¡s grande y el mÃ¡s pequeÃ±o. Es Ãºtil conocer los valores mÃ­nimos y mÃ¡ximos en sÃ­ mismos y para identificar los valores atÃ­picos, pero el rango es extremadamente sensible a los valores atÃ­picos y no es muy Ãºtil como medida general de dispersiÃ³n.

Para evitar la sensibilidad a valores atÃ­picos, podemos mirar el rango de los datos despuÃ©s de eliminar los valores de cada extremo. Formalmente, este tipo de estimaciones se basan en diferencias entre percentiles. En un conjunto de datos, el $n$-Ã©simo percentil es un valor tal que, al menos, el $n$ por ciento de los valores toman este valor o menos $(100 - n)$ por ciento de los valores toman este valor o mÃ¡s. Por ejemplo, si queremos conocer el percentil 80, ordenamos los dartos. Luego, comenzando con el valor mÃ¡s pequeÃ±o, continuamos el 80 por ciento del camino hasta el valor mÃ¡s grande. Ten en cuenta que la mediana es lo mismo que el percentil 50. El percentil es, esencialmente, lo mismo que un cuantil, con cuantiles indexados por fracciones (el cuantil .8 es el percentil 80).

Una medida comÃºn de variabilidad es la diferencia entre el percentil 25 y el percentil 75, tambiÃ©n llamado rango intercuartÃ­lico (o IQR). Por ejemplo, queremos conocer el IQR del conjunto de datos [3, 1, 5, 3, 6, 7, 2, 9]. Ordenamos los datos para obtener [1, 2, 3, 3, 5, 6, 7, 9]. El percentil 25 estÃ¡ en 2.5, el percentil 75 estÃ¡ en 6.5, por lo que el rango intercuartÃ­lico es 6.5 - 2.5 = 4.

In [20]:
df['ingresos'].quantile([0.25,0.50, 0.75])

0.25    3513.75
0.50    4947.50
0.75    6374.50
Name: ingresos, dtype: float64

## CorrelaciÃ³n

El coeficiente de correlaciÃ³n da una estimaciÃ³n de la relaciÃ³n entre dos variables. El coeficiente de correlaciÃ³n de Pearson se calcular multiplicando las desviaciones de la media de la variable 1 por las de la variable 2, dividiendo por el producto de las desviaciones estÃ¡ndar:

$r(x,y)$ = $\frac{\sum_{i=1}^{N}(x_{i} - \bar{x})(y_{i} - \bar{y})}{(N - 1)s_{x}s_{y}}$

La correlaciÃ³n puede oscilar entre -1 y 1. Valores cercanos a 1, indican que existe una relaciÃ³n mÃ¡s cercana entre las dos variables; valores negativos cercanos a -1 indican una relaciÃ³n inversa. Por Ãºltimo, valores cercanos a 0, significan que no hay relaciÃ³n. Hay que recordar que "correlaciÃ³n no significa causalidad". En otras palabras, el hecho de que dos variables estÃ©n correlacionadas no significa que se afecten entre sÃ­.

In [21]:
df

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
0,6000,1000,0,600,50000,400000,0,2,2,1
1,6745,944,123,429,43240,636897,1,3,6,0
2,6455,1033,98,795,57463,321779,2,1,8,1
3,7098,1278,15,254,54506,660933,0,0,3,0
4,6167,863,223,520,41512,348932,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...
197,3831,690,352,488,10723,363120,0,0,2,0
198,3961,1030,270,475,21880,280421,2,3,8,0
199,3184,955,276,684,35565,388025,1,3,8,0
200,3334,867,369,652,19985,376892,1,2,5,0
201,3988,1157,105,382,11980,257580,0,0,4,0

In [70]:
selected = df[['hijos', 'ingresos']]
aux = (df['gastos_comunes'] + df['pago_coche'] + temp['gastos_otros']).values
selected = selected.assign(gastos = aux)
selected

     hijos  ingresos  gastos
0        2      6000    1600
1        3      6745    1496
2        1      6455    1926
3        0      7098    1547
4        0      6167    1606
..     ...       ...     ...
197      0      3831    1530
198      3      3961    1775
199      3      3184    1915
200      2      3334    1888
201      0      3988    1644

[202 rows x 3 columns]

In [71]:
print('CorrelaciÃ³n Pearson: ', selected['hijos'].corr(selected['gastos'], method='pearson'))
print('CorrelaciÃ³n spearman: ', selected['hijos'].corr(selected['gastos'], method='spearman'))
print('CorrelaciÃ³n kendall: ', selected['hijos'].corr(selected['gastos'], method='kendall'))

CorrelaciÃ³n Pearson:  -0.013227831122921273
CorrelaciÃ³n spearman:  -0.015689487358224386
CorrelaciÃ³n kendall:  -0.012304208834291197

In [72]:
print('CorrelaciÃ³n Pearson: ', selected['ingresos'].corr(selected['gastos'], method='pearson'))
print('CorrelaciÃ³n spearman: ', selected['ingresos'].corr(selected['gastos'], method='spearman'))
print('CorrelaciÃ³n kendall: ', selected['ingresos'].corr(selected['gastos'], method='kendall'))

CorrelaciÃ³n Pearson:  0.3628225113311151
CorrelaciÃ³n spearman:  0.35388389040394264
CorrelaciÃ³n kendall:  0.24451179550071883

Una limitaciÃ³n de Pandas es que no calcula la significancia estadÃ­stica. 

Como mencionamos antes, el coeficiente de correlaciÃ³n, $r$ ,es un valor sin unidades entre -1 y 1. La significancia estadÃ­stica se indica con un valor $p$. Por lo tanto, usualmente las correlaciones se escriben con dos nÃºmeros clave: $r$ = y $p$ = .
* Cuanto mÃ¡s se aproxima $r$ a cero, mÃ¡s dÃ©bil es la relaciÃ³n lineal.
* Los valores de $r$ positivos indican una correlaciÃ³n positiva, en la que los valores de ambas variables tienden a incrementarse juntos.
* Los valores de $r$ negativos indican una correlaciÃ³n negativa, en la que los valores de una variable tienden a incrementarse mientras que los valores de la otra variable descienden.
* Los valores 1 y -1 representan una correlaciÃ³n "perfecta" positiva y negativa, respectivamente. Dos variables perfectamente correlacionadas cambian conjuntamente a una tasa fija. Decimos que tienen una relaciÃ³n linear; cuando representados en un grÃ¡fico de dispersiÃ³n, todos los puntos correspondientes a los datos pueden conectarse con una misma lÃ­nea recta.
* El valor $p$ nos ayuda a determinar si podemos o no concluir de manera significativa que el coeficiente de correlaciÃ³n de la poblaciÃ³n es diferente a cero, basÃ¡ndonos en lo que observamos en la muestra.

El valor $p$ es una medida de probabilidad empleada para hacer pruebas de hipÃ³tesis. El objetivo de una prueba de hipÃ³tesis es determinar si hay evidencia suficiente para apoyar una determinada hipÃ³tesis sobre los datos. De hecho, formulamos dos hipÃ³tesis: la hipÃ³tesis nula y la hipÃ³tesis alternativa. En el anÃ¡lisis de correlaciÃ³n, usualmente, **la hipÃ³tesis nula expresa que la relaciÃ³n observada entre las variables es producto del mero azar** (esto es, que el coeficiente de correlaciÃ³n en realidad es cero y no hay una relaciÃ³n lineal). La **hipÃ³tesis alternativa expresa que la correlaciÃ³n que hemos medido estÃ¡ legÃ­timamente presente en nuestros datos** (esto es, que el coeficiente de correlaciÃ³n es distinto a cero).

El valor $p$ es la probabilidad de observar un coeficiente de correlaciÃ³n distinto a cero en los datos de nuestra muestra cuando en realidad la hipÃ³tesis nula es verdadera. Un valor p bajo nos lleva a rechazar la hipÃ³tesis nula. Un umbral tÃ­pico para rechazar la hipÃ³tesis nula es un valor p de 0,05. Esto es, si el valor p es inferior a 0,05, rechazarÃ­amos la hipÃ³tesis nula en favor de la hipÃ³tesis alternativa: que el coeficiente de correlaciÃ³n es diferente a cero.

In [73]:
from scipy import stats
from scipy.stats import pearsonr

In [74]:
r, p = stats.pearsonr(selected['hijos'], selected['gastos'])
print(f"CorrelaciÃ³n Pearson: r={r}, p-value={p}")

r, p = stats.spearmanr(selected['hijos'], selected['gastos'])
print(f"CorrelaciÃ³n Spearman: r={r}, p-value={p}")

r, p = stats.kendalltau(selected['hijos'], selected['gastos'])
print(f"CorrelaciÃ³n Pearson: r={r}, p-value={p}")

CorrelaciÃ³n Pearson: r=-0.013227831122921243, p-value=0.851782736653732
CorrelaciÃ³n Spearman: r=-0.015689487358224386, p-value=0.8246102381082991
CorrelaciÃ³n Pearson: r=-0.012304208834291197, p-value=0.8155465256085394

In [75]:
r, p = stats.pearsonr(selected['ingresos'], selected['gastos'])
print(f"CorrelaciÃ³n Pearson: r={r}, p-value={p}")

r, p = stats.spearmanr(selected['ingresos'], selected['gastos'])
print(f"CorrelaciÃ³n Spearman: r={r}, p-value={p}")

r, p = stats.kendalltau(selected['ingresos'], selected['gastos'])
print(f"CorrelaciÃ³n Pearson: r={r}, p-value={p}")

CorrelaciÃ³n Pearson: r=0.36282251133111526, p-value=1.1167959359092352e-07
CorrelaciÃ³n Spearman: r=0.35388389040394264, p-value=2.3840275027781308e-07
CorrelaciÃ³n Pearson: r=0.24451179550071883, p-value=2.3905377446810804e-07

## Covarianza

La covarianza es el valor que refleja en quÃ© cuantÃ­a dos variables aleatorias varÃ­an de forma conjunta respecto a sus medias. Nos permite saber cÃ³mo se comporta una variable en funciÃ³n de lo que hace otra variable. Es decir, cuando $X$ sube Â¿CÃ³mo se comporta $Y$? AsÃ­ pues, la covarianza puede tomar los siguiente valores:
* Si $Covarianza(X,Y)$ es menor que cero, entonces cuando $X$ sube, $Y$ baja. Hay una relaciÃ³n negativa.
* Si $Covarianza(X,Y)$ es mayor que cero, entonces cuando $X$ sube, $Y$ sube. Hay una relaciÃ³n positiva.
* Si $Covarianza(X,Y)$ es igual a cero, no hya relaciÃ³n entre $X$  y $Y$.

In [82]:
selected['ingresos'].cov(selected['gastos'])

198339.7251366927